absl-py==2.4.0
aiofiles==25.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
audioread==3.1.0
autopep8==2.3.2
bcrypt==4.0.1
beautifulsoup4==4.14.3
blinker==1.9.0
blis==1.3.3
boto3==1.43.4
botocore==1.43.4
catalogue==2.0.10
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
cloudpathlib==0.23.0
colorama==0.4.6
confection==1.3.3
contourpy==1.3.2
cryptography==46.0.7
cycler==0.12.1
cymem==2.0.13
decorator==4.4.2
distro==1.9.0
dnspython==2.8.0
docopt==0.6.2
ecdsa==0.19.2
email-validator==2.3.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
fastapi==0.135.3
filelock==3.28.0
flake8==7.3.0
Flask==2.3.3
Flask-Cors==4.0.0
flatbuffers==25.12.19
fonttools==4.62.1
fsspec==2026.3.0
groq==0.37.1
gunicorn==26.0.0
h11==0.14.0
hf-xet==1.4.3
httpcore==0.17.3
httpx==0.24.1
huggingface_hub==1.10.2
idna==3.11
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
itsdangerous==2.2.0
jax>=0.4.0
jaxlib>=0.4.0
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
Js2Py==0.74
jsonpatch==1.33
jsonpointer==3.1.1
kiwisolver==1.5.0
langchain-core==1.2.30
langchain-groq==1.1.2
langsmith==0.7.32
lazy-loader==0.5
librosa==0.10.0
llvmlite==0.47.0
lxml==6.0.4
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.10.21
ml_dtypes==0.5.4
motor==3.7.1
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.2
murmurhash==1.0.15
networkx==3.6.1
nltk==3.9.4
numba==0.65.0
numpy==1.24.3
opencv-contrib-python==4.11.0.86
opencv-python==4.8.0.74
opt_einsum==3.4.0
orjson==3.11.8
packaging==26.1
passlib==1.7.4
pillow==12.2.0
platformdirs==4.9.6
pocketsphinx==5.0.4
pooch==1.9.0
preshed==3.0.13
proglog==0.1.12
protobuf==3.20.3
psutil==7.2.2
pyasn1==0.6.3
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.13.1
pydantic-settings==2.13.1
pydantic_core==2.46.1
pyflakes==3.4.0
Pygments==2.20.0
pyjsparser==2.7.1
pymongo==4.16.0
pyparsing==3.3.2
PyPDF2==3.0.1
PyPrind==2.11.3
pySmartDL==1.3.4
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.0.0
python-jose==3.5.0
python-multipart==0.0.26
PyYAML==6.0.3
redis==7.4.0
regex==2026.4.4
requests==2.33.1
requests-toolbelt==1.0.0
rich==15.0.0
rsa==4.9.1
s3transfer==0.17.0
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.11.1
shellingham==1.5.4
six==1.17.0
smart_open==7.6.0
sniffio==1.3.1
sounddevice==0.5.5
soundfile==0.13.1
soupsieve==2.8.3
soxr==1.0.0
spacy==3.8.14
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.0
srsly==2.5.3
starlette==1.0.0
sympy==1.14.0
tenacity==9.1.4
thinc==8.3.13
threadpoolctl==3.6.0
tokenizers==0.22.2
torch==2.11.0
tqdm==4.67.3
transformers==5.7.0
typer==0.24.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
tzlocal==5.3.1
urllib3==2.6.3
uuid_utils==0.14.1
uvicorn==0.44.0
wasabi==1.1.3
weasel==1.0.0
Werkzeug==2.3.7
whisper==1.1.10
wrapt==2.1.2
xxhash==3.6.0
zstandard==0.25.0
